@using Domain.Models
@model List<Contacts>

@{
    Layout = "_Layout";
}
<table class="table table-bordered text-center">
    <tr>
        <th>Image</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>PhoneNumber</th>
        <th>Address</th>
        <th>Email</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ImageUrl" style="width: 50%; height: 50%;" class="img-thumbnail"/>
            </td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Address</td>
            <td>@item.Email</td>
            <td>@item.Description</td>
        </tr>
    }
</table>